<img src="assets/wel-drum1.png" width="30%">
<img src="assets/app-white-3.png" width="30%" style="display: block; margin-left: auto; margin-right: auto" />
<div class="col-md-6 col-md-offset-3" style="margin-left: auto; margin-right: auto">
  <h2 style="font-family: junction-regular">Register</h2>
  <form (ngSubmit)="myForm.form.valid && submitForm(myForm)" #myForm="ngForm" novalidate>
    <p> Username
      <input type="text" name="username" [(ngModel)]="username" #myUsername="ngModel" minlength="3" style="width: 30%" required/>
    </p>
    <div *ngIf="myUsername.errors && (myUsername.dirty || myUsername.touched)">
      <p class="error" [hidden]="!myUsername.errors.minlength">
        Username must be at least 3 characters long.
      </p>
    </div>
    <p> Password
      <input type="password" name="password" [(ngModel)]="password" #myPassword="ngModel" style="width: 30%" required />
    </p>
    <div *ngIf="myPassword.errors && (myPassword.dirty || myPassword.touched)">
      <p class="error" [hidden]="!myPassword.errors.required">
        Password is required
      </p>
    </div>
    <button [disabled]="loading" (click)="add(myUsername.value, myPassword.value)" type="submit" style="" > signup </button>
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
    />
  </form>
  </div>
  <button type="button" class="btn btn-block" style="margin-left: 15px; width: 40%" (click)="signInWithGoogle()">
    <i class="fa fa-google" aria-hidden="true"></i>
    Login with Google
  </button>
  <div class="form-group">
      <button type="buton" class="btn btn-primary btn-block" style="margin-left: 15px; margin-bottom: 20px; width: 40%" (click)="signInWithEmail()" [disabled]="formCtrl.form.invalid">
      Login with Email
      </button>
   </div>

