<img src="assets/wel-drum1.png" width="30%">
<img src="assets/app-white-3.png" width="30%" style="display: block; margin-left: auto; margin-right: auto" />
<!-- 
<div class="modal-dialog">
  <div class="registermodal-container">
    <h1>Register</h1>
    <br>
    <div class="loginMod">
      <div *ngIf="!(authService.user | async)">
        <input type="email" [(ngModel)]="email" placeholder="email" required name="email">
        <input type="password" [(ngModel)]="password" placeholder="contraseña" required #pass>
        <button (click)="signup()" [disabled]="!email || !password">
          Signup
        </button>
      </div>
    </div> -->

    <button type="button" class="btn btn-block" style="display: block; margin-left: auto; margin-right: auto; width: 30%" (click)="signInWithGoogle()">
      <i class="fa fa-google" aria-hidden="true"></i>
      Login with Google
    </button>
    <div class="form-group">
      <button type="buton" class="btn btn-primary btn-block" style="display: block; margin-left: auto; margin-right: auto; width: 30%"
        (click)="signInWithEmail()">
        Login with Email
      </button>
    </div>
    <!-- <div class="col-md-6 col-md-offset-3" style="margin-left: 80px">
  <h2 style="font-family: junction-regular">Register</h2>
  <form (ngSubmit)="myForm.form.valid && submitForm(myForm)" #myForm="ngForm" novalidate>
    <p> Username </p>
    <input type="text" name="username" [(ngModel)]="username" #myUsername="ngModel" minlength="3" style="width: 30%" required/>
    <div *ngIf="myUsername.errors && (myUsername.dirty || myUsername.touched)">
      <p class="error" [hidden]="!myUsername.errors.minlength">
        Username must be at least 3 characters long.
      </p>
    </div>
    <p> Password </p>
    <input type="password" name="password" [(ngModel)]="password" #myPassword="ngModel" style="width: 30%" required />

    <div *ngIf="myPassword.errors && (myPassword.dirty || myPassword.touched)">
      <p class="error" [hidden]="!myPassword.errors.required">
        Password is required
      </p>
    </div>
    <br>
    <br>
    <button [disabled]="loading" (click)="add(myUsername.value, myPassword.value)" type="submit" style="margin-left: 40px; width: 15%"> signup </button>
  </form>

</div> -->