
<div class="col-3" style="display: inline-block">
    <img src="assets/profile-1.png" width="70%" style="margin-left: 10px">
    <p><button class="w3-button w3-indigo" (click)="index()">index</button></p>
    <p><button class="w3-button w3-indigo" (click)="configuration()">Edit profile</button></p>
</div>
<img src="assets/app-white-3.png" width="30%" style="display: inline-block" />



<div class="row">
  <div class="col-3" style="padding-top: 20px">
    <div (click)="userl()" class="container-fluid" *ngIf="user.uid == lx8LZw1WjwdqmGgXrsttKCdaGyu1">
      <ul>
        <p *ngFor="let user of users"><b> Name: </b>{{user.Username}}</p>
        <p *ngFor="let user of users"><b> City: </b>{{user.City}}</p>
        <p *ngFor="let user of users"><b> Music: </b>{{user.Music}}</p>
        <p *ngFor="let user of users"><b> About: </b>{{user.About}}</p>
      </ul>

     
    </div>
  </div>

  <!-- videos -->

  <div class="container col-9">
    <div class="videos4">
        <youtube-player
        videoId="3dqN9XsgJaU"
        (ready)="savePlayer($event)"
        (change)="onStateChange($event)"
      ></youtube-player>
    </div>
    <div class="videos4">
        <youtube-player
        videoId="LvyyDU2gCaQ"
        (ready)="savePlayer($event)"
        (change)="onStateChange($event)"
      ></youtube-player>
    </div>
    <div class="videos4">
        <youtube-player
        videoId="7k8PFMQQIxI"
      (ready)="savePlayer($event)"
      (change)="onStateChange($event)"
    ></youtube-player>
      </div>
      <div class="videos4">
          <youtube-player
          videoId="C35k5Chu8eo"
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)"
        ></youtube-player>
      </div>
      <div class="videos4">
          <youtube-player
          videoId="Stg7sLpsZyU"
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)"
        ></youtube-player>
      </div>
      <div class="videos4">
          <youtube-player
          videoId="2aH6Q3BWmY8"
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)"
        ></youtube-player>
      </div>
  </div>
</div>
