<img src="assets/app-white-3.png" width="30%" style="display: block; margin-left: auto; margin-right: auto" />
<button type="buton" class="btn-block" (click)="index()">
    index
  </button>
<div class="row">
  <div class="col-3" style="padding-top: 20px">
    <div (click)="userl()" class="container-fluid" *ngIf="user.uid == lx8LZw1WjwdqmGgXrsttKCdaGyu1">
      <ul>
        <p>Name: {{username}}</p>
        <p>City: {{user.City}}</p>
        <p>Music skills: {{user.Music}}</p>
        <p>About me: {{user.About}}</p>
      </ul>
      <button type="buton" class="btn-block" (click)="configuration()">
          Edit profile
        </button>
    </div>
  </div>

  <!-- videos -->

  <div class="container col-9">
    <div class="videos4">
        <youtube-player
        videoId="3dqN9XsgJaU"
        (ready)="savePlayer($event)"
        (change)="onStateChange($event)"
      ></youtube-player>
    </div>
    <div class="videos4">
        <youtube-player
        videoId="LvyyDU2gCaQ"
        (ready)="savePlayer($event)"
        (change)="onStateChange($event)"
      ></youtube-player>
    </div>
    <div class="videos4">
        <youtube-player
        videoId="7k8PFMQQIxI"
      (ready)="savePlayer($event)"
      (change)="onStateChange($event)"
    ></youtube-player>
      </div>
      <div class="videos4">
          <youtube-player
          videoId="C35k5Chu8eo"
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)"
        ></youtube-player>
      </div>
      <div class="videos4">
          <youtube-player
          videoId="Stg7sLpsZyU"
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)"
        ></youtube-player>
      </div>
      <div class="videos4">
          <youtube-player
          videoId="2aH6Q3BWmY8"
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)"
        ></youtube-player>
      </div>
  </div>
</div>
